.someClass {
    background: linear-gradient( #1b1d1f 90px, #3e4649 70%);
    color: #FF6B00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
padding: 10px;
}

.button{
    width: 75px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
}
.parametr{

    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    color: #9d49f2;
}

.deleteButtonn{
    text-align: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}
.affair{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25;
}

