.error {
    padding: 90px;
    text-align: center;
    font-size: 80px;
    color:red
}
.header{
    display: flex;
    width: 200px;
    transition-duration: 500ms;
    transform: translate(-120px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0px);
}

.block{
    width: 30px;
    height: 70px;
    margin: 10px;
    background: #333333;
}

.header a{
    font-size: 15px;
    color: #333333;
    text-decoration: none;
}
.header a.active{
    color:#FF6B00
}